body{
  position: relative;
}
body>div.top {
  position: fixed;
  bottom: 50%;
  right: 20px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 5px 1px 25px;
  border: 1px solid aqua;
  border-radius: 20px;
  writing-mode: vertical-rl;
  cursor: pointer;
  z-index: 1001;
  transform: rotate(-180deg);
  &::after{
    font-family: var(--fa-style-family-classic);
    content: "\f062";
    font-weight: 900;
    font-size: 14px;
    position: absolute;
    transform: rotate(-180deg);
    bottom: 5px;
    left: 3px;
  }
}